table {
  border-spacing: 0;
  border-collapse: collapse;
  }

td {
  border: 0px solid red;
  height: 10px;
  width: 10px;
  margin: 0px;
  padding:0; margin:0;
}

.bouya {
  border: 2px solid green;
  background: goldenrod;
}